.Preview {
    width: 100%;
    height: 100svh;
    box-sizing: border-box;
    overflow-y: auto;
    background: var(--bg-gradient-end);
    background: linear-gradient(0deg, var(--bg-gradient-start) 0%, var(--bg-gradient-end) 100%);
}

.Preview__document {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Preview__document__page {
    max-width: 100%;
    box-shadow: 0 0 10px rgba(138, 138, 138, .3);
}

.Preview__document__page:not(:last-child) {
    margin-bottom: 20px;
}

.Preview__document__page canvas {
    max-width: 100%;
    height: auto !important;
}
