.Preview {
    width: 100%;
    height: 100svh;
    box-sizing: border-box;
    overflow-y: auto;
    background: var(--bg-color);
}

.Preview__document {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Preview__document__page {
    max-width: 100%;
    border-radius: 6px;
    box-shadow: 0 20px 60px 0 rgba(186,200,227,.1), 0 16px 36px 0 rgba(186,200,227,.3)
}
.Preview__document__page canvas {
    border-radius: 6px;
}

.Preview__document__page:not(:last-child) {
    margin-bottom: 20px;
}

.Preview__document__page canvas {
    max-width: 100%;
    height: auto !important;
}
